<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="address" class="org.example.pojo.Address">
        <property name="address" value="美国"/>
    </bean>
    <bean id="student" class="org.example.pojo.Student">
        <!--        第一种：普通值注入，value-->
        <property name="name" value="测试名称"/>
        <!--        第二种：bean注入，ref-->
        <property name="address" ref="address"/>
        <!--        第三种：数组注入，ref-->
        <property name="books">
            <array>
                <value>《水浒传》</value>
                <value>《西游记》</value>
                <value>《红楼梦》</value>
                <value>《三国演义》</value>
            </array>
        </property>
        <!--        第四种：List注入-->
        <property name="hobbies">
            <list>
                <value>打游戏</value>
                <value>看电影</value>
            </list>
        </property>
        <!--        第五种：Map注入-->
        <property name="card">
            <map>
                <entry key="身份证" value="5555523369774"/>
                <entry key="银行卡" value="5568823369774"/>
            </map>
        </property>
        <!--        第六种：Set注入-->
        <property name="games">
            <set>
                <value>overWatch</value>
                <value>crossFire</value>
            </set>
        </property>
        <!--        第七种：null 注入-->
        <property name="wife">
            <null></null>
        </property>
        <!--        第八种：Properties 注入-->
        <property name="info">
            <props>
                <prop key="学号">1354</prop>
                <prop key="性别">男</prop>
            </props>
        </property>
    </bean>
</beans>